/*
* GENERAL *
*/
h1, h2, h3, h4, h5, li {
  font-family: "Gemunu Libre", sans-serif;
}

body {
  height: 100vh;
}

.light-grey-bg {
  background-color: #e3e3e3;
}

/*
* HEADER *
*/
.nav-link {
  font-size: 1.6rem;
  color: black;
}

.nav-link:hover {
  color: #FF6634;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 18px;
}

.logo-img {
  margin: 0 6px;
  height: 4.2em;
}

.logo-text {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 3em;
  font-weight: bold;
  text-shadow: -0.5px -0.5px 0 #615655, 0.5px -0.5px 0 #615655,
    -0.5px 0.5px 0 #615655, 0.5px 0.5px 0 #615655;
  margin: 0;
  padding: 0;
}

.logo-text-first-half {
  color: #454444;
}

.logo-text-second-half {
  color: #ff6634;
}

/*
* MAIN *
*/
.game-card:hover {
  transform: scale(1.01);
}

.main {
  margin-bottom: 30px;
}

/*
* FOOTER *
*/
.back-to-top {
  text-decoration: none;
  color: black;
}

.back-to-top:hover {
  text-decoration: none;
  color: #FF6634;
}